<div id="producao">

  <header>

    <h1>Histórico Produção</h1>

  </header>




  <table class="table table-striped">

    <thead>

      <tr>

        <th scope="col">#</th>

        <th scope="col">Peso do Rolo</th>

        <th scope="col">Defeito</th>

        <th scope="col">Cliente</th>

        <th scope="col">Funcionário</th>

        <th scope="col">Máquina</th>

        <th scope="col">Status</th>

        <th scope="col">Data</th>

      </tr>

    </thead>




    <tbody class="table-group-divider">

      <tr *ngFor="let producao of producao;let i = index">

        <th scope="row">{{i + 1}}</th>

        <td>{{ producao.pesoRolo }}</td>

        <td>{{ producao.defeito }}</td>

        <td>{{ producao.clienteId }}</td>

        <td>{{ producao.funcionarioId }}</td>

        <td>{{ producao.maquinaId }}</td>

        <td>{{ producao.status }}</td>

        <td>{{ producao.data }}</td>

      </tr>

    </tbody>

  </table>

</div>