<div id="producao">
  <header>
    <h1>Histórico Produção</h1>
  </header>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Funcionário</th>
        <th scope="col">Máquina</th>
        <th scope="col">Data</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Eduarda</td>
        <td>Vinícius</td>
        <td>Tear Circular</td>
        <td>02/09/2020</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Eduarda</td>
        <td>Vinícius</td>
        <td>Tear Circular</td>
        <td>02/09/2021</td>
      </tr>
      
      <tr>
        <th scope="row">3</th>
        <td>Eduarda</td>
        <td>Vinícius</td>
        <td>Tear Circular</td>
        <td>02/09/2022</td>
      </tr>
    </tbody>
  </table>
</div>