<div class="centralizar" style="background-color: rgba(0, 0, 0, 0.26); height: 100vh; width: 100vw;">

    <div class="modais">
        <div (click)="fechaModal()" class="centralizar" style="cursor:pointer;justify-content: end; margin-right: 12px; margin-top: 5px;">
            X
        </div>
        <div class="centralizar">
            <h2 style="color: #12474E;">Cadastro de Itens</h2>

        </div>
        <div class="centralizar">
            <div class="linha"></div>
        </div>
        <div class="centralizar" style="margin-top: 10px;">
            <div style="margin-right: 160px;">
                <h6>Nome</h6>

                <div class="centralizar">
                    <div class="ladoInput">
                        <div style="margin-left: 15px; margin-top: 4px;">
                            <i class="bi bi-boxes" style="font-size: 20px;"></i>
                        </div>
                    </div>

                    <input class="inputs" type="text">
                </div>
            </div>
        </div>


        <div class="centralizar" style="margin-top: 25px;">
            <div style="margin-right: 20px;">
                <h6>Tipo</h6>
                <div class="centralizar">
                    <div class="ladoInput">
                        <div style="margin-left: 15px; margin-top: 4px;">
                            <i class="bi bi-boxes" style="font-size: 20px;"></i>
                        </div>
                    </div>

                    <input class="inputs" type="text">
                </div>
            </div>
            <div>
                <h6 style="margin-left: 40px;">Quantidade</h6>
                <div class="centralizar">
                    <h3 style="margin-left: 20px;">+</h3>
                    <input class="quantidade" placeholder="" type="text">
                    <h3 style="margin-left: 20px; font-size: 35px;">-</h3>
                </div>
            </div>
        </div>


        <div class="centralizar" style="margin-top: 50px;">
            <div>
                <button class="nota" style=" margin-top: 25px;">
                    Enviar
                </button>
            </div>
        </div>
    </div>


</div>