<div class="item" *ngIf="tipo_exibicao_bloco">
    <div class="container-top-item">
        <h1>{{item.id}}</h1>
    </div>
    <div class="container-bottom-item">
        <span>{{item.tipo}}</span>
    </div>
    <div class="container-bottom-item">
        <span>{{item.quantidade}}</span>
    </div>
</div>
<div class="" *ngIf="!tipo_exibicao_bloco">
    <ul class="nav p-3" style="border-left: 10px solid #00b472; background-color:#F9F9F9;
    box-shadow: 1.5px 1.5px 5px 1px #000000;">
        <li class="me-3">{{item.id}}</li>
        <li class="me-3">{{item.tipo}}</li>
        <li class="me-3">{{item.quantidade}}</li>
    </ul>
</div>