*{
    margin: 0;
    padding: 0;
}

.item{
    width: 100%;
    height: 140px;
    background-color: #F9F9F9;
    box-shadow: 1.5px 1.5px 5px 1px #000000;
    border-left: 10px solid #12474E;
    border-radius: 5px;
    overflow: hidden;
}

.item:hover {
    cursor: pointer;
}

.container-top-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-top-item h1, span{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 1rem 1rem 0 1rem;
}

.container-bottom-item{
    display: flex;
    flex-direction: column;
}

.aumentarDiminuir {
    width: 35%;
    height: 35px;
    display: flex;
}

.botaoDiminuir {
    width: 30%;
    border: 1px solid black;
    height: 100%;
    font-size: 26px;
    text-align: center;
    padding: 5px;
}

.botaoDiminuir:hover {
    cursor: pointer;
}

.spanQtd {
    border: 1px solid black;
    height: 100%;
    width: 40%;
    font-size: 18px;
    text-align: center;
}

.modalVenda {
    width: 30%;
    height: 65%;
    background-color: white;
    border: 1px solid #12474E;
    border-top: 15px solid #12474E;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 37%;
    padding: 15px;
}

.tituloVenda {
    color: #12474E;
    text-align: center;
    width: 80%;
}

.fechar {
    width: 20px;
    height: 20px;
}

.fechar:hover {
    cursor: pointer;
}

.modalPrincipal {
    padding: 10px;
    padding-top: 30px;
    width: 100%;
}

.divInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.labelInput {
    color: #12474E;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputModal {
    padding: 0px 10px;
}

#pesoTotal {
    width: 20%;
}

#qualidade {
    resize: none;
}

.botaoVenda {
    padding: 10px;
    background-color: #12474E;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    float: right;
    margin-left: 25px;
}

.botaoSacola {
    float: right;
    display: flex;
    height: 50px;
}

.sacola:hover {
    cursor: pointer;
}

h1 {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spanDescricao {
    overflow-wrap: break-word;
}