<app-detalhes-maquina [maquina]="maquina" (statusModalDetalhes)="fecharDetalhes()" *ngIf="detalhes"></app-detalhes-maquina>
<div class="item" *ngIf="tipo_exibicao_bloco" (click)="abrirDetalhes()">
    <div class="container-top-item">
        <h1>{{maquina.nome}}</h1>
    </div>
    <div class="container-bottom-item">
        <span>{{maquina.marca}}</span>
    </div>
    <div class="container-bottom-item">
        <span>{{maquina.ano_fabricacao}}</span>
        <span>{{maquina.rpm}}</span>
    </div>
</div>
<div class="" *ngIf="!tipo_exibicao_bloco" (click)="abrirDetalhes()">
    <ul class="nav p-3" style="border-left: 10px solid #0d533a; background-color:#F9F9F9;
    box-shadow: 1.5px 1.5px 5px 1px #000000;">
        <li class="me-3">{{maquina.nome}}</li>
        <li class="me-3">{{maquina.marca}}</li>
        <li class="me-3">{{maquina.ano_fabricacao}}</li>
        <li class="me-3">{{maquina.rpm}}</li>
    </ul>
</div>