<div class="fundo">
    <div class="alinhar">
        <div class="bloco">
            <i class="bi bi-x-lg position-absolute" style="right: 20px; top: 15px;" (click)="close()"></i>
            <p>Nome: Máquina De Tecelar</p>
            <p>Marca: Tesla</p>
            <p>Fabricada em: Máquina De Tecelar</p>
            <p>Comprada em: Máquina De Tecelar</p>
            <p>Valor: Máquina De Tecelar</p>
            <p>Agulhas: Máquina De Tecelar</p>
            <p>Platina: Máquina De Tecelar</p>
            <p>Gaiola: Máquina De Tecelar</p>
            <p>Malhas: Máquina De Tecelar</p>
            <p style="display: flex;justify-content: space-between;">
                Itens: Máquina De Tecelar <button class="btn btn-primary">Iniciar Produção</button></p>
        </div>
    </div>
</div>