<div class="fundo">
    <div class="alinhar">
        <div class="bloco">
            <div class="divEsquerda">
                <i class="bi bi-x-lg position-absolute" style="right: 20px; top: 15px;" (click)="close()"></i>
                <p>Nome: {{maquina.nome}}</p>
                <p>Marca: {{maquina.marca}}</p>
                <p>Fabricada em: {{maquina.anoFabricacao}}</p>
                <p>Comprada em: {{maquina.anoCompra}}</p>
                <p>Valor: {{maquina.valorCompra}}</p>
                <p>RPM: {{maquina.rpm}}</p>
                <p>Agulhas: {{maquina.qtdAgulha}}</p>
                <p>Platinas: {{maquina.qtdPlatina}}</p>
                <p>Gaiolas: {{maquina.qtdGaiolas}}</p>
                <p>Cones: {{maquina.qtdCones}}</p>
            </div>
            <div class="divDireita">
                <input class="inputProducao" type="text" placeholder="Peso do Rolo" [(ngModel)]="peso">
                <input class="inputProducao" type="text" placeholder="Defeito" [(ngModel)]="defeito">
                <input class="inputProducao" type="text" placeholder="CNPJ do Cliente" [(ngModel)]="cliente">
                <button class="btn btn-primary" (click)="cadastrarProducao()">Iniciar Produção</button>
            </div>
        </div>
    </div>
</div>