.fundo{
    background-color: rgba(0, 0, 0, 0.582);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
}
.alinhar{    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
p{
    margin-bottom: 10px;
}
.bloco{
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 60%;
    background-color: wheat;
    opacity: 1;
}

.divDireita {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 300px;
}

.inputProducao {
    padding-left: 10px;
    padding: 5px;
}